.ql-con {
    /* margin-top: 80px; */
    overflow: hidden;
    background: #f5f6f7;
}

/* 标题开始 */
.ql-title {
    height: 190px;
    background: #eff3ff;
    overflow: hidden;
}
.ql-t-con {
    width: 1300px;
    height: 190px;
    margin: 0 auto;
}
.qltconLeft {
    width: 700px;
    height: 190px;
    float: left;
}
.qltconLeft i {
    position: absolute;
    right: 0px ;
    top: 0px;
    display: block;
    width: 30px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
}
.qltconLeft i:hover {
    color: #0059ff;
}
.qltconLeft h1 {
    margin-top: 70px;
    color: #27427a;
    letter-spacing: 1px;
    margin-bottom: 28px;
    font-size: 24px;
}
.qltconLeft .el-input__inner {
    height: 45px !important;
    font-size: 16px;
    padding-right: 30px !important;
}
.qltconright {
    height: 190px;
    float: left;
    margin-left: 35px;
}
.qltconright img {
    float: left;
}
.qltconAdd {
    width: 222px;
    float: right;
    margin-top: 66.5px;
}
.qltconAdd a {
    font-size: 12px;
    margin-top: 17px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 100%;
    color: #888888;
}
/* 标题结束 */
/* 主体内容开始 */
.ql-body {
    background: #f5f6f7;
    margin-top: 38px;
}
.qlConTab {
    background-color: #fff;
    width: 790px;
    padding: 18px 20px 1px 20px;
    height: 37px;
}
.qlConTab .qlConTabS {
    float: left;
    margin-right: 15px;
    background-color: #f5f6f7;
    padding: 8px 18px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
.qlConTab .qlConTabS i {
    margin-left: 15px;
}
.qlConTab .qlConTabS i:hover {
    color: #0059ff;
}
.qlConTabNClass {
    background-color: #f5f6f7;
    color: #0059ff;
}
.qlConTab .qlConTabN{
    float: left;
    margin-right: 15px;
    background-color: #f5f6f7;
    padding: 8px 18px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
.qlConTab .qlConTabN:hover {
    background-color: #f3f9fd;
    color: #1da1f2;
}
.qlConTab .qlConTabN img {
    vertical-align: sub;
    margin-right: 6px;
}
.qlBodyCon {
    width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}
.qlBodyLeft {
    float: left;
    width: 215px;
    margin-right: 15px;
    background: #fff;
    padding: 15px 0px 15px 0px;
}
.qlBodyLeft div {
    padding: 0px 0px 0px 26px;
    line-height: 31px;
    width: 197px;
    float: right;
    cursor: pointer;
    margin-bottom: 17px;
}
.qlBodyLeft div:last-of-type {
    margin-bottom: 0px;
}
.qlBodyLeft div:hover {
    border-left: 5px solid #4458b0;
}
.qlBodyConActive {
    border-left: 5px solid #4458b0;
    background: #7587d0;
    color: #fff;
}
.qlBodyMei {
    float: left;
    width: 800px;
}
.qlBodyMeiCon {
    width: 830px;
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
}
.qlBodyMeiConLeft {
    padding: 20px;
    /* float: left; */
    position: relative;
}
.qlBodyMeiConLeft a {
    text-decoration: none;
    color: #333;
}
.qlBodyMeiConLeft h4 {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    word-wrap:break-word
}
.qlBodyMeiConLeft h4 a:hover {
    color: #0059ff;
}
.qlBodyI {
    border: 1px solid #4458b0;
    border-radius: 2px;
    padding: 3px 7px;
    font-size: 12px;
    color: #4458b0;
    
}
.qlBodyU {
    display: inline-block;
    line-height: 22px;
    background: #ec6941;
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
    padding: 0px 9px;
    margin-right: 10px;
}
.qlBodyConImg {
    margin-bottom: 20px;
}
.qlBodyConImg img {
    width: 190px;
    margin-right: 10px;
    height: 125px;
}
.qlBodyImg {
    margin-bottom: 20px;
    color: #484848;
}
.qlBodyImg img {
    vertical-align: middle;
    margin-right: 11px;
    width: 21px;
    height: 21px;
    border-radius: 10px;
}
.qlBodyImg span {
    color: #a2a2a2;
    margin-left: 7px;
}
.viewimages {
    width: 190px;
    height: 125px;
    float: right;
    background-color: #fafafa;
    text-align: center;
    cursor: pointer;
    display: block;
}
.viewimages p {
    margin-top: 41.5px;
    color: #999999;
}
.qlBodyMeiConRight {
    background-color: #1da1f2;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 7px 20px;
    width: 136px;
    border-radius: 10px;
}

.qlBodyMeiConRightTable {
    vertical-align: middle;
    font-size: 16px;
}
.qlBodyMeiConshou {
    width: 200px;
    margin-top: 30px;
    color: #888888;
    margin-left: 20px;
    position: absolute;
    bottom: 26px;
    left: 200px;
    font-size: 14px;
}
.pageturning {
    text-align: center;
    font-size: 40px;
    position: relative;
    top: -3px;
    cursor: pointer;
}
.pageturning:hover {
    color: #0059ff;
}




/* 左边问题部分开始 */
.ql-left {
    width: 980px;
    float: left;
}
.ql-ask {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
}
.ql-ask-title {
    width: 940px;
    margin: 0 auto;
    padding-top: 22px;
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 22px;
    position: relative;
}
.ql-ask-title div {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    background: rgba(133, 144, 166, 0.12);
    margin-right: 22px;
    color: #444;
}
.ql-ask-title div:hover {
    background: rgba(0, 132, 255, 0.08);
}
.qlasktitle0back {
    background: rgba(0, 132, 255, 0.08) !important;
}
.ql-ask-con {
    width: 940px;
    margin: 0 auto;
    padding-top: 22px;
    position: relative;
}
.ql-ask-con h3 {
    margin-bottom: 11px;
    width: 850px;
    min-height: 25px;
}
.ql-ask-con h3 a {
    text-decoration: none;
    color: #1a1a1a;
}
.ql-ask-con h3 a:hover {
    color: #175199;
}
.ql-ask-reply {
    padding-top: 17px;
    padding-bottom: 22px;
    border-bottom: 1px solid #f6f6f6;
    overflow: hidden;
}
.ql-ask-reply-1 {
    color: #0084f0 !important;
    border: 1px solid #0084f0 !important;
}
.ql-ask-reply-2 {
    margin-left: 20px !important;
    color: #8590a6 !important;
}
.ql-ask-reply-2:hover {
    color: #76839b !important;
}
/* 左边问题部分结束 */

/* 右边功能部分开始 */
.ql-right {
    width: 300px;
    float: right;
}
.ql-right-quit {
    box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
    padding: 22px;
    margin-bottom: 22px;
}

.ql-right-function {
    box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
    padding: 22px 0px 22px 0px;
    margin-bottom: 22px;
}
.ql-right-function a {
    text-decoration: none;
    color: #76839b;
    display: block;
    line-height: 40px;
    overflow: hidden;
    padding: 0 22px 0 22px;
}
.ql-right-function a:hover {
    background-color: #f6f6f6;
}
.ql-right-function a i {
    margin-right: 10px;
}
.ql-right-function a .ql-right-fc1 {
    float: left;
}
.ql-right-function a .ql-right-fc2 {
    float: right;
}
.ql-right-function p {
    padding-left: 22px;
    line-height: 40px;
    color: rgb(118, 131, 155);
}
/* 右边功能部分结束 */
/* 我要提问遮罩开始 */
.shadeClose {
    position: absolute;
    right: -50px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
}
.ql-shade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(26, 26, 26, 0.65);
    z-index: 100;
}
.ql-editQuzi {
    width: 560px;
    padding: 20px 20px 50px 20px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
}
.queTime .el-input--prefix .el-input__inner{
    height: 48px !important;
}
.ql-editQuziTi .el-input__inner {
    height: 48px !important;
    padding: 10px 18px !important;
}
.ql-editQuziTi .el-form-item__error {
    left: 0px !important;
    top: 100% !important;
    font-size: 14px !important;
}
.ql-editNameDetail .el-textarea__inner {
    font-size: 15px !important;
    overflow-y: hidden;
    resize: none;
}
.PR {
    margin-bottom: 11px;
    color: #76839b;
    font-size: 14px;
}
.releaseQl {
    float: right;
}
/* 我要提问遮罩结束 */
/* 我要答遮罩开始 */
.ql-replyShade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(26, 26, 26, 0.65);
    z-index: 100;
}
.ql-editReply {
    width: 540px;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
}
.ql-editReply h3 {
    margin-bottom: 22px;
}
.qlreleaseClose {
    position: absolute;
    right: -50px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
}
/* 我要答这招结束 */
.topInput {
    width: 140px !important;
    background: #fff !important;
    padding: 0px !important;
    position: absolute !important;
    right: 0px !important;
    top: 22px !important;
    margin-right: 0px !important;
}
.topInput .el-input__inner {
    border-radius: 25px !important;
}
.myType {
    position: absolute;
    right: 0;
    top: 22px;
    color: rgb(133, 144, 166);
}
.ql-ask-ent {
    min-height: 21px;
    width: 850px;
}
.nextpage {
    text-align: center;
    font-size: 35px;
    line-height: 40px;
    color: #76839b;
    cursor: pointer;
    margin-top: 20px;
}
.nextpage:hover {
    color: #4888ff;
    font-size: 40px;
}
.nextpage:active {
    color: #0059ff;
}
.nextpage span {
    position: relative;
    top: -10px;
    height: 0px;
    display: inline-block;
}
.el-picker-panel .el-button--text {
    visibility: hidden !important;
}
.el-dialog__header {
    position: relative !important;
}
.ql-shade .el-dialog {
    width: 90% !important;
    margin-top: 4vh !important;
    margin-bottom: 0px !important;
}
.ql-shade .el-dialog img {
    height: 500px !important;
}
.ql-shade .el-upload--picture-card {
    border: 0px !important;
    width: 123px !important;
    height: 36px !important;
    line-height: 0px !important;
}
.ql-shade .el-upload-list--picture-card .el-upload-list__item {
    width: 45px !important;
    height: 45px !important;
}
.ql-shade .el-upload-list--picture-card .el-upload-list__item-actions {
    font-size: 12px !important;
}
.upImg {
    position: relative;
    float: left;
}
.upImg .el-upload-list--picture-card{
    position: absolute;
    overflow-x:auto;
    top: 48px;
    width: 560px;
}
.upImgBut i {
    font-size: 16px !important;
    color: #fff !important;
    vertical-align: middle;
    position: relative;
    top: -1px;
}
.newAnswer {
    padding: 0px 20px;
    line-height: 40px;
    background: #90e5ff8f;
    text-align: center;
    cursor: pointer;
}
.newAnswer:hover {
    background: #2ebbe68f;
}
